<%= button_tag 'Reiniciar Mundo', id: 'reset' %>
<%= button_tag 'Guardar Estado', id: 'save' %>
<%= button_tag 'Pausar', id: 'pause' %>
<%= button_tag 'Iniciar', id: 'play', data: { game: 'paused' } %>
<table>
  <tbody>
    <% @cells.each do |y_position, cells| %>
      <tr>
        <% cells.each do |cell| %>
          <td>
            <div
              class="cell <%= "#{cell.x_position}-#{cell.y_position}" %> <%= 'alive' if cell.alive? %>"
              style='background-color:<%= cell.color %>'
              data-id='<%= cell.id %>'
              data-alive='<%= cell.alive %>'
              data-x='<%= cell.x_position %>'
              data-y='<%= cell.y_position %>'>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
